@import './base/reset';
@import './utils/variables';
@import './utils/placeholders';
@import './utils/mixins';
@import './components/logo';
@import './components/header/nav';
@import './components/footer/address';
@import './components/footer/social';
@import './components/footer/subscribe-form';
@import './components/modal';
@import './components/portfolio/filters';
@import './components/portfolio/portfolio';

/* ------------------ Утилиты ------------------ */

.logo__accent {
  color: var(--accent-color);
}

.nav-list__link--current {
  color: var(--accent-color);
}

.nav-list__link--current::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
  opacity: 1;
  bottom: 0;
  left: 0;
}

/* ------------------ Header ------------------ */

.header {
  border-bottom: 1px solid var(--header-border-color);
}

.header__container,
.nav {
  display: flex;
  align-items: center;
}

/* ----- Navigation -------- */

.nav-list {
  display: flex;
}

.nav-list__item:not(:last-child) {
  margin-right: 50px;
}

/* ----- Nav-Logo -------- */

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.nav__logo {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
  color: var(--title-text-color);
}

.nav-list__link {
  display: block;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color var(--main-effect);
}

/* ----- Nav-Contacts -------- */

.contact-list {
  display: flex;
  margin-left: auto;
}

.contact-list__item:not(:last-child) {
  margin-right: 30px;
}

.contact-list__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color var(--main-effect);
}

.contact-list__icon {
  fill: currentColor;
  margin-right: 10px;
}

/* ----- Nav-Effects -------- */

.nav-list__link:hover,
.nav-list__link:focus,
.contact-list__link:hover,
.contact-list__link:focus {
  color: var(--accent-color);
}

/* ------------------ Страница Portfolio ------------------ */

/* ------------------ Фильтра ------------------ */

.filter-list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.filter-list__item:not(:last-child) {
  margin-right: 8px;
}

.filter-list__button {
  padding: 6px 22px;
  background-color: var(--section-bg-color);
  color: var(--title-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  border: none;
  border-radius: 4px;
  transition: box-shadow var(--main-effect), color var(--main-effect),
    background-color var(--main-effect);
}

.filter-list__button:hover,
.filter-list__button:focus {
  box-shadow: var(--filter-button-shadow);
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.filter-list__button--active {
  box-shadow: var(--filter-button-shadow);
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

/* ------------------ Портфолио ------------------ */

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin: calc(-1 * var(--card-list-gap));
}

.portfolio-list__item {
  margin: var(--card-list-gap);
  flex-basis: calc(100% / 3 - 2 * var(--card-list-gap));
  flex-basis: calc((100% - 90px) / 3);
}

.portfolio-list__link {
  display: block;
  transition: box-shadow var(--main-effect);
}

.portfolio-list__link:hover,
.portfolio-list__link:focus {
  box-shadow: var(--portfolio-item-shadow);
}

.portfolio-list__subtitle {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-list__card {
  padding: 20px 24px;
  border: var(--card-border);
  border-top: 0;
}

.portfolio-list__filter-name {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.87;
}

.portfolio-img-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-list__overlay {
  position: absolute;
  width: 370px;
  height: 294px;
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-white-color);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  transition: transform var(--main-effect);
}

.portfolio-list__link:hover .portfolio-list__overlay,
.portfolio-list__link:focus .portfolio-list__overlay {
  transform: translateY(-100%);
}

/* ------------------ Footer ------------------ */

.footer {
  padding: 60px 0;
  background-color: var(--footer-bg-color);
}

.footer__container {
  display: flex;
  align-items: baseline;
}

/* ------------------ Footer-LEFT ------------------ */

.footer-left {
  /* min-width: 231px;
  margin-roght: 70px;
  - максимально соотв. макету*/
  margin-right: 85px;
}

.footer-left__logo {
  display: inline-block;
  padding-bottom: 20px;
  color: var(--primary-white-color);
}

.address-list__item:not(:last-child) {
  margin-bottom: 9px;
}

.address-list__link {
  color: var(--primary-white-color);
  transition: color var(--main-effect);
}

.address-list__link:hover,
.address-list__link:focus {
  color: var(--secondary-white-color);
}

.address-list__link--alfa {
  color: var(--secondary-white-color);
}

.address-list__link--alfa:hover,
.address-list__link--alfa:focus {
  color: var(--primary-white-color);
}

/* ------------------ Footer-CENTER ------------------ */

.footer-center {
  display: block;
  margin-right: 93px;
}

.social-wrapper {
  display: flex;
}

.social-label,
.subscribe-form__label {
  display: block;
  font-size: inherit;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}

.social-list {
  display: flex;
}

.social-list__link {
  display: flex;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: var(--primary-white-color);
  transition: background-color var(--main-effect);
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__icon {
  fill: currentColor;
}

.social-list__link:hover,
.social-list__link:focus {
  background-color: var(--accent-color);
}

/* ------------------ Footer-RIGHT ------------------ */

.subscribe-form__input {
  display: inline-block;
  width: 358px;
  height: 50px;
  padding: 15px;
  margin-right: 12px;

  color: var(--primary-white-color);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.subscribe-form__input::placeholder {
  font-weight: inherit;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form__field {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subscribe-form__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;

  fill: var(--primary-white-color);
}

.button__text {
  margin-right: 10px;
}

.button:hover .button__icon {
  animation-name: flyPlane;
  animation-duration: 0.7s;
  animation-timing-function: ease-in;
  animation-play-state: runnung;
}

@keyframes flyPlane {
  50% {
    transform: translate(150%, -200%) rotate(-120deg) scale(0.8);
    transform-origin: bottom left;
  }
  100% {
    transform: translate(0%, 0%) rotate(-360deg);
    transform-origin: top left;
  }
}
