// Модалка

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $backdrop-bg-color;
  opacity: 1;
  visibility: visible;
  transition: opacity $main-effect, visibility $main-effect;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
  // Или можно так, но это не гибко:
  // margin-left: calc(-1 * (528px / 2));
  // margin-top: calc(-1 * (581px / 2));
  transition: transform $main-effect, opacity $main-effect, visibility $main-effect;

  min-width: 528px;
  min-height: 581px;

  background-color: $primary-color;
  box-shadow: $modal-shadow;
  border-radius: 4px;

  .backdrop.is-hidden & {
    top: 50%;
    left: 50%;
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, -50%) scale(0.5);
  }
}

// Третий вариант позиционирования
// работает с relative-absolute связками с 1 ребенком
// .backdrop {
//   position: fixed; - не статик, у ребенка абсолют
//   @include centeredFlex();
// }

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;

  @include centeredFlex();
  width: 30px;
  height: 30px;
  padding: 0;

  color: $button-close-color;
  background-color: $primary-color;
  border: $button-close-border;
  border-radius: 50%;

  transition: transform $main-effect, color $main-effect, border-color $main-effect;

  &:hover,
  &:focus {
    color: $accent-color;
    transform: rotate(180deg);
    border-color: $accent-color;
  }
}

.button-close__icon-close {
  fill: currentColor;
}

.order-form {
  display: block;
  width: 448px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 0;
}

.order-form__title {
  display: block;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: $title-text-color;
}

.order-form__label {
  position: relative;

  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  &--textarea {
    margin-bottom: 20px;
  }

  &--agreement {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
  }
}

.order-form__label-text {
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.order-form__input {
  width: 100%;
  padding: 11px 12px 11px 42px;

  border: $order-input-border;
  border-radius: 4px;

  transition: border-color $main-effect;

  &::placeholder {
    font-size: 14px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: $order-placeholder-color;
  }

  .order-form__label:focus-within > & {
    outline: transparent;
    border-color: $accent-color;
  }
}

.order-form__textarea {
  width: 100%;
  padding: 12px 16px;

  resize: none;

  border: $order-input-border;
  border-radius: 4px;

  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  transition: border-color $main-effect;

  &::placeholder {
    font-size: 14px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: $order-placeholder-color;
  }

  .order-form__label--textarea:focus-within > & {
    outline: transparent;
    border-color: $accent-color;
  }
}

.order-form__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  fill: $order-icons-fill;
  transition: fill $main-effect;

  .order-form__label:focus-within > & {
    fill: $accent-color;
  }
}

.order-form__agreement-link {
  text-decoration-line: underline;
  color: $accent-color;
}

.order-form__icon-check {
  margin-right: 7px;
  cursor: pointer;

  border: $icon-check-border;
  border-radius: 2px;

  fill: none;
  transition: border-color $main-effect, background-color $main-effect, fill $main-effect;

  .order-form__label--agreement:focus-within > & {
    border-color: $accent-color;
  }

  .order-form__input-agreement:checked ~ & {
    border: transparent;
    background-color: $accent-color;
    fill: $primary-color;
  }
}
